<html>

<body>
    <div th:fragment="footer">
        <!-- footer -->
        <div class="ts attached secondary segment">
            <div class="ts narrow container">
                <br>
                <div class="ts large center aligned header">
                    <div class="smaller sub header">
                        WebComm 偉康<br>
                        上機測驗
                    </div>
                </div>
                <br>
            </div>
        </div>
        <!-- the end of footer -->

        <script type="text/javascript">
            // index subtitle
            const slogans = ["內容1", "內容2", "內容3", "內容4"];
        </script>
        <script type="text/javascript" src="js/slogan.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script>
            var user = "{{user.id}}"
        </script>
    </div>
</body>

</html>