<html>

<body>
    <div th:fragment="menu">
        <div class="ts top fixed fluid basic link big menu" id="menu-color-id">

            <!-- ejs : align to post page or index page -->

            <div class="ts narrow container " style=" padding-left: 25px; ">

                <a class="item" href="/">Home</a>
                <a class="item" href="/public-api">Public API</a>

            </div>
        </div>
        <!-- the end of navigation -->

        <!-- big bang title -->
        <header class="ts massive basic borderless extra vertically padded cover slate">
            <div class="image">
                <img src="images/banner.png">
            </div>
            <div class="ts narrow container relaxed stackable grid" id="big-bang-title" style="padding-left: 35px;">
                <!-- Title -->
                <h1 class="ts eleven wide column header be-center-h1">
                    <span style="color: #404040;" id="big-title">Demo</span>
                    <div class="sub header" id="slogan-bar" style=" margin-top: 15px; color: #404040;"></div>
                </h1>
                <!-- the end of title -->
            </div>
        </header>
        <!-- the end of big bang title -->
    </div>
</body>

</html>