<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:replace="component/header.html :: header"></div>
</head>

<body>
    <div th:replace="component/menu.html :: menu"></div>

    <!-- content section -->
    <div class="ts narrow container" style=" margin-bottom: 35px; ">
        <div style=" padding-top: 35px; ">
            <!-- 與上面容器隔出距離 -->

            <!-- left section -->
            <div class="column" style=" padding: 35px; ">

                <h2>首頁</h2>
                <div class="ts section divider"></div>

                <div id="msg" th:if="${message}" th:class="'ts ' + ${type} + ' message'">
                    <button class="ts close button"></button>
                    <div class="header" th:text="${message}"></div>
                </div>

                <form id="productForm" class="ts form" method="post" enctype="multipart/form-data" th:action="@{/buy}">

                    <table class="ts sortable table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Inventory</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${products}">
                                <td><span th:text="${product.id}">id</span></td>
                                <td><span th:id="${product.id} + '_name'" th:text="${product.name}"></span></td>
                                <td><span th:id="${product.id} + '_price'" th:text="${product.price}"></span></td>
                                <td><span th:id="${product.id} + '_inventory'" th:text="${product.inventory}"></span></td>
                                <td>
                                    <div class="field">
                                        <input type="text" th:name="${product.id}" required="required" placeholder="數量">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th>
                                    <div class="field">
                                        <input id="myName" th:name="name" type="text" placeholder="姓名" required="required" >
                                    </div>
                                </th>
                                <th colspan="4">
                                    <button id="btn" class="ts positive right floated small primary button">購買</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </form>

            </div>
            <!-- / left section -->
        </div>
    </div>
    <!-- content section -->

    <div th:replace="component/footer.html :: footer"></div>
</body>

</html>